<form method="POST">
  <div class="form-row">
      <h1>Add a new {{category.category_name}} class</h1>
    <div class="form-group col-md-6">
      <label for="class_name">Class Name</label>
      <input type="text" class="form-control" id="class_name" name="class_name" placeholder="class name">
    </div>
    <div class="form-group col-md-6">
      <label for="description">Description</label>
        <textarea type="password" class="form-control" id="description", name="description"
                  placeholder="description"></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>