<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Card-Carousel-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Card-Carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Pretty-Footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

{% block content %}
{% endblock %}

</html>